<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "./partials/head.html" ignore missing with context %}
    <title>NASA APOD</title>
</head>
<body>
    {% include "./partials/nav.html" ignore missing with context %}
    <h1>NASA Astronomy Picture of the Day - {{obj.date}}</h1>
    <!-- <p>{{obj.url}}</p> -->
     <img src="{{obj.media_type}}" alt="">
    <p>{{obj.explanation}}</p>
    {% include "./partials/dependencies.html" ignore missing with context %}
</body>
</html>
